@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #2435b7;
}
.bg-main-color {
  background-color: var(--main-color);
}

*,
html {
  scroll-behavior: smooth !important;
  /* border: 1px solid green; */
}

body {
  min-height: 100vh;
  height: -webkit-fill-available;
}
html,
#root {
  height: -webkit-fill-available;
}
